



:root{
    --yellow:#f5c32c;
    --orange:#Fca61f;
    --black:#242d49;
    overflow-x: hidden;

   
}
.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}
@media  screen and(max-width:480px) {
  .App{
      padding: 0.5rem 1rem;
  }
}